* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* Scrollbar para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* mais fina */
}

::-webkit-scrollbar-track {
  background: #f9f9f9; /* tom neutro claro */
}

::-webkit-scrollbar-thumb {
  background-color: #ff7f7f; /* vermelho claro */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d4d; /* um tom um pouco mais forte no hover */
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff7f7f #f9f9f9;
}
